body {
  width: 100%;
  height: 100%;
  background-color: white;
}

#logo {
  margin: 0 auto;
  margin-top: -20vh;
  max-width: 80%;
}

.top-content--header {
  background-image: url('img/serious_group.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(43, 133, 157);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

#about-us {
  text-shadow: 0 2px 2px #000;
  display: block;
  color: #fff;
  font-size: 5em;
  margin: 0 auto;
  cursor: pointer;
}

.technologies--content {
  padding-top: 6%;
  background-color: rgb(165, 170, 196);
  padding-bottom: 3%;
}

#technologies {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 2%;
}

.technologies--content img {
  max-width: 50%;
  max-height: 50%;
}

.tech-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100px;
  margin-bottom: 20px;
}

footer {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 10vh;
  padding: 2%;
  text-align: center;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  color: #f1f1f1;
}

@keyframes animatedBackground {
  from {
    background: none;
  }
  to {
    background: rgba(0,0,0,.6);
  }
}

/*.image-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.image-container .person-bio {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.image-container:hover .person-bio {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.75);
  animation: animatedBackground 0.15s ease-out;
}

.person-bio {
  height: 100%;
  padding: 10px;
  font-size: 16px;
  width: 60%;
  color: #fff;
  display: block;
  font-weight: 200;
  text-shadow: 0 1px 1px rgba(0,0,0,.85);
  font-family: 'Open Sans', sans-serif;
}*/

@media (max-width: 920px) {
  .top-content--header {
    max-height: 80vh;
  }

  /*.person-tile {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }*/
}

@media (max-width: 720px) {
  #logo {
    margin-top: -10vh;
  }

  .top-content--header {
    max-height: 65vh;
  }
}

@media (max-width: 568px) {
  .top-content--header {
    max-height: 55vh;
  }
}

@media (min-width: 720px){
  /*.person-image {
    max-height: 280px;
    overflow: hidden;
    max-width: auto;
  }
*/}

/*#cohort-bios {
  height: 100vh;
}*/


.star-1 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(236, 236, 89, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(236, 236, 89, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-1:before {
   border-bottom: 16px solid rgba(236, 236, 89, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-1:after {
   position: absolute;
   display: block;
   color: rgba(236, 236, 89, 0.8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(236, 236, 89, 0.8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-2 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(89, 89, 236, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(89, 89, 236, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-2:before {
   border-bottom: 16px solid rgba(89, 89, 236, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-2:after {
   position: absolute;
   display: block;
   color: rgba(89, 89, 236, 0.8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(89, 89, 236, 0.8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-3 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(236, 89, 89, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(236, 89, 89, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-3:before {
   border-bottom: 16px solid rgba(236, 89, 89, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-3:after {
   position: absolute;
   display: block;
   color: rgba(236, 89, 89, 0.8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(236, 89, 89, 0.8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-4 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(89, 163, 236, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(89, 163, 236, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-4:before {
   border-bottom: 16px solid rgba(89, 163, 236, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-4:after {
   position: absolute;
   display: block;
   color: rgba(89, 163, 236, 0.8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(89, 163, 236, 0.8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-5 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(12, 110, 12, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(12, 110, 12, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-5:before {
   border-bottom: 16px solid rgba(12, 110, 12, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-5:after {
   position: absolute;
   display: block;
   color: rgba(rgb(12, 110, 12), 0.8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(12, 110, 12, 0.8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}

/*BEGIN HERE*/

.star-6 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(163, 89, 236, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(163, 89, 236, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-6:before {
   border-bottom: 16px solid rgba(163, 89, 236, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-6:after {
   position: absolute;
   display: block;
   color: rgba(163, 89, 236, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(163, 89, 236, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-7 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(236, 89, 236, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(236, 89, 236, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-7:before {
   border-bottom: 16px solid rgba(236, 89, 236, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-7:after {
   position: absolute;
   display: block;
   color: rgba(236, 89, 236, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(236, 89, 236, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-8 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(89, 236, 236, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(89, 236, 236, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-8:before {
   border-bottom: 16px solid rgba(89, 236, 236, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-8:after {
   position: absolute;
   display: block;
   color: rgba(89, 236, 236, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(89, 236, 236, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-9 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(236, 136, 89, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(236, 136, 89, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-9:before {
   border-bottom: 16px solid rgba(236, 136, 89, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-9:after {
   position: absolute;
   display: block;
   color: rgba(236, 136, 89, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(236, 136, 89, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-10 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(89, 236, 89, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(89, 236, 89, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-10:before {
   border-bottom: 16px solid rgba(89, 236, 89, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-10:after {
   position: absolute;
   display: block;
   color: rgba(89, 236, 89, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(89, 236, 89, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-11 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(188, 183, 0, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(188, 183, 0, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-11:before {
   border-bottom: 16px solid rgba(188, 183, 0, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-11:after {
   position: absolute;
   display: block;
   color: rgba(188, 183, 0, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(188, 183, 0, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-12 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(188, 0, 141, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(188, 0, 141, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-12:before {
   border-bottom: 16px solid rgba(188, 0, 141, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-12:after {
   position: absolute;
   display: block;
   color: rgba(188, 0, 141, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(188, 0, 141, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-13 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(255, 145, 20, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(255, 145, 20, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-13:before {
   border-bottom: 16px solid rgba(255, 145, 20, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-13:after {
   position: absolute;
   display: block;
   color: rgba(255, 145, 20, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(255, 145, 20, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-14 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(3, 188, 0, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(3, 188, 0, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-14:before {
   border-bottom: 16px solid rgba(3, 188, 0, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-14:after {
   position: absolute;
   display: block;
   color: rgba(3, 188, 0, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(3, 188, 0, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-15 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(0, 3, 188, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(0, 3, 188, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-15:before {
   border-bottom: 16px solid rgba(0, 3, 188, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-15:after {
   position: absolute;
   display: block;
   color: rgba(0, 3, 188, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(0, 3, 188, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-16 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(188, 0, 3, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(188, 0, 3, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-16:before {
   border-bottom: 16px solid rgba(188, 0, 3, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-16:after {
   position: absolute;
   display: block;
   color: rgba(188, 0, 3, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(188, 0, 3, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-17 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(255, 101, 242, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(255, 101, 242, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-17:before {
   border-bottom: 16px solid rgba(255, 101, 242, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-17:after {
   position: absolute;
   display: block;
   color: rgba(255, 101, 242, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(255, 101, 242, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-18 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(191, 101, 255, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(191, 101, 255, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-18:before {
   border-bottom: 16px solid rgba(191, 101, 255, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-18:after {
   position: absolute;
   display: block;
   color: rgba(191, 101, 255, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(191, 101, 255, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-19 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(101, 165, 255, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(101, 165, 255, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-19:before {
   border-bottom: 16px solid rgba(101, 165, 255, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-19:after {
   position: absolute;
   display: block;
   color: rgba(101, 165, 255, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(101, 165, 255, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}



.star-20 {
   margin: 10px 0;
   position: relative;
   display: block;
   color: rgba(101, 255, 114, .8);
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 14px solid rgba(101, 255, 114, .8);
   border-left:   20px solid transparent;
   -moz-transform:    rotate(25deg);
   -webkit-transform: rotate(25deg);
   -ms-transform:     rotate(25deg);
   -o-transform:      rotate(25deg);
}


.star-20:before {
   border-bottom: 16px solid rgba(101, 255, 114, .8);
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}


.star-20:after {
   position: absolute;
   display: block;
   color: rgba(101, 255, 114, .8);
   top: .6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 14px solid rgba(101, 255, 114, .8);
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-50deg);
   -moz-transform:    rotate(-50deg);
   -ms-transform:     rotate(-50deg);
   -o-transform:      rotate(-50deg);
   content: '';
}


/*Lets start with the cloud formation rather*/
/*The container will also serve as the SKY*/

#stars{
  position: absolute;
  /*padding: 100px 0;*/
  z-index: 1000;
}

/*Time to animate*/
.x1 {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  opacity: 0.8;
  /*color: rgba(200, 200, 200, 0.8);*/
  left: 10vw;
  -webkit-animation: moveStars 13s linear infinite;
  -moz-animation: moveStars 13s linear infinite;
  -o-animation: moveStars 13s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 90vm;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  /*color: rgba(250, 150, 200, 0.8);*/
  opacity: 0.8; /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveStars 20s linear infinite;
  -moz-animation: moveStars 20s linear infinite;
  -o-animation: moveStars 20s linear infinite;
}


.x3 {
  left: 20vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  /*color: rgba(150, 250, 200, 0.8);*/
  -webkit-animation: moveStars 25s linear infinite;
  -moz-animation: moveStars 25s linear infinite;
  -o-animation: moveStars 25s linear infinite;
}

.x4 {
  left: 80vw;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  /*color: rgba(200, 250, 150, 0.8);*/
  opacity: 0.75; /*opacity proportional to the size*/
  -webkit-animation: moveStars 15s linear infinite;
  -moz-animation: moveStars 15s linear infinite;
  -o-animation: moveStars 15s linear infinite;
}


.x5 {
  left: 30vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  /*color: rgba(100, 75, 250, 0.8);*/
  opacity: 0.8; /*opacity proportional to the size*/
  -webkit-animation: moveStars 17s linear infinite;
  -moz-animation: moveStars 17s linear infinite;
  -o-animation: moveStars 17s linear infinite;
}


.x6 {
  left: 70vw;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.75;
  /*color: rgba(250, 100, 250, 0.8);*/
  -webkit-animation: moveStars 15s linear infinite;
  -moz-animation: moveStars 15s linear infinite;
  -o-animation: moveStars 15s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/
.x7 {
  left: 40vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9; /*opacity proportional to the size*/
  /*color: rgba(55, 200, 250, 0.8);*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveStars 14s linear infinite;
  -moz-animation: moveStars 14s linear infinite;
  -o-animation: moveStars 14s linear infinite;
}


.x8 {
  left: 60vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9; /*opacity proportional to the size*/
  /*color: rgba(75, 250, 100, 0.8);*/
  -webkit-animation: moveStars 16s linear infinite;
  -moz-animation: moveStars 16s linear infinite;
  -o-animation: moveStars 16s linear infinite;
}


.x9 {
  left: 50vw;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.85; /*opacity proportional to the size*/
  /*color: rgba(50, 100, 175, 0.8);*/
  -webkit-animation: moveStars 18s linear infinite;
  -moz-animation: moveStars 18s linear infinite;
  -o-animation: moveStars 18s linear infinite;
}


.x10 {
  left: 5vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  /*color: rgba(250, 200, 150, 0.8);*/
  -webkit-animation: moveStars 22s linear infinite;
  -moz-animation: moveStars 22s linear infinite;
  -o-animation: moveStars 22s linear infinite;
}



/*Time to animate*/
.x11 {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  opacity: 0.8;
  /*color: rgba(200, 250, 100, 0.8);*/
  left: 15vw;
  -webkit-animation: moveStars 17s linear infinite;
  -moz-animation: moveStars 17s linear infinite;
  -o-animation: moveStars 17s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/
.x12 {
  left: 95vm;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  /*color: rgba(250, 150, 200, 0.8);*/
  opacity: 0.8; /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveStars 20s linear infinite;
  -moz-animation: moveStars 20s linear infinite;
  -o-animation: moveStars 20s linear infinite;
}


.x13 {
  left: 25vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  /*color: rgba(150, 250, 200, 0.8);*/
  -webkit-animation: moveStars 22s linear infinite;
  -moz-animation: moveStars 22s linear infinite;
  -o-animation: moveStars 22s linear infinite;
}

.x14 {
  left: 85vw;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  /*color: rgba(200, 250, 150, 0.8);*/
  opacity: 0.75; /*opacity proportional to the size*/
  -webkit-animation: moveStars 14s linear infinite;
  -moz-animation: moveStars 14s linear infinite;
  -o-animation: moveStars 14s linear infinite;
}


.x15 {
  left: 35vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  /*color: rgba(150, 75, 250, 0.8);*/
  opacity: 0.8; /*opacity proportional to the size*/
  -webkit-animation: moveStars 17s linear infinite;
  -moz-animation: moveStars 17s linear infinite;
  -o-animation: moveStars 17s linear infinite;
}


.x16 {
  left: 75vw;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.75;
  /*color: rgba(250, 100, 250, 0.8);*/
  -webkit-animation: moveStars 15s linear infinite;
  -moz-animation: moveStars 15s linear infinite;
  -o-animation: moveStars 15s linear infinite;
}


/*variable speed, opacity, and position of clouds for realistic effect*/
.x17 {
  left: 45vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9; /*opacity proportional to the size*/
  /*color: rgba(55, 200, 250, 0.8);*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveStars 14s linear infinite;
  -moz-animation: moveStars 14s linear infinite;
  -o-animation: moveStars 14s linear infinite;
}


.x18 {
  left: 65vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9; /*opacity proportional to the size*/
  /*color: rgba(75, 250, 100, 0.8);*/
  -webkit-animation: moveStars 16s linear infinite;
  -moz-animation: moveStars 16s linear infinite;
  -o-animation: moveStars 16s linear infinite;
}


.x19 {
  left: 55vw;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.85; /*opacity proportional to the size*/
  /*color: rgba(50, 100, 175, 0.8);*/
  -webkit-animation: moveStars 18s linear infinite;
  -moz-animation: moveStars 18s linear infinite;
  -o-animation: moveStars 18s linear infinite;
}


.x20 {
  left: 95vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  /*color: rgba(250, 200, 150, 0.8);*/
  -webkit-animation: moveStars 22s linear infinite;
  -moz-animation: moveStars 22s linear infinite;
  -o-animation: moveStars 22s linear infinite;
}


@-webkit-keyframes moveStars {
  0% {margin-top: 0px;}
  100% {margin-top: 600px;}
}
@-moz-keyframes moveStars {
  0% {margin-top: 0px;}
  100% {margin-top: 600px;}
}
@-o-keyframes moveStars {
  0% {margin-top: 0px;}
  100% {margin-top: 600px;}
}