body {
  width: 100%;
  height: 100%;
  background-color: white;
}
.profont {
  font-family: 'Roboto';
}

.funfont {
  font-family: 'Spicy Rice', cursive;
}

#main-logo,
#party-logo {
  margin: 0 auto;
  margin-top: -15vh;
  width: 80%;
}

.hidden {
  display: none;
}

.top-content--header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(43, 133, 157);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

#about-us {
  text-shadow: 0 2px 2px #000;
  display: block;
  color: #fff;
  font-size: 5em;
  margin: 0 auto;
  cursor: pointer;
}

.technologies--content {
  padding-top: 6%;
  background-color: rgb(165, 170, 196);
  padding-bottom: 3%;
}

#technologies {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 2%;
}

.technologies--content img {
  max-width: 50%;
  max-height: 50%;
}

.tech-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100px;
  margin-bottom: 20px;
}

footer {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 10vh;
  padding: 2%;
  text-align: center;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  color: #f1f1f1;
}

@keyframes animatedBackground {
  from {
    background: none;
  }
  to {
    background: rgba(0,0,0,.6);
  }
}

/*.image-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.image-container .person-bio {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.image-container:hover .person-bio {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.75);
  animation: animatedBackground 0.15s ease-out;
}

.person-bio {
  height: 100%;
  padding: 10px;
  font-size: 16px;
  width: 60%;
  color: #fff;
  display: block;
  font-weight: 200;
  text-shadow: 0 1px 1px rgba(0,0,0,.85);
  font-family: 'Open Sans', sans-serif;
}*/

@media (max-width: 920px) {
  .top-content--header {
    max-height: 80vh;
  }

  /*.person-tile {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }*/
}

@media (max-width: 720px) {
  #logo {
    margin-top: -10vh;
  }

  .top-content--header {
    max-height: 65vh;
  }
}

@media (max-width: 568px) {
  .top-content--header {
    max-height: 55vh;
  }
}

/*Lets start with the cloud formation rather*/
/*The container will also serve as the SKY*/

#stars{
  position: absolute;
  /*padding: 100px 0;*/
  z-index: 99;
}

@-webkit-keyframes moveStars {
  0% {top: 0;}
  100% {top: 100vh; -webkit-transform: rotate(360deg);}
}

@-moz-keyframes moveStars {
  0% {top: 0;}
  100% {top: 100vh; -moz-transform: rotate(360deg);}
}

@-o-keyframes moveStars {
  0% {top: 0;}
  100% {top: 100vh ; -o-transform: rotate(360deg)}
}

@media (min-width: 720px){
  /*.person-image {
    max-height: 280px;
    overflow: hidden;
    max-width: auto;
  }
*/}

nav ul a {
    color: #000;
}

/*#cohort-bios {
  height: 100vh;
}*/

/*charts*/

.charts--content {
  padding: 1%;
  background-color: #eee;
  text-align: center;
}

.charts--content div.card-content {
  min-height: 10em;
}

.charts--content .card-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em !important;
  color: #5a7c92;
  text-transform: uppercase;
  font-weight: 500;
}

.charts--content .kpi {
  font-size: 3em;
  line-height: 1.5em;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.charts-row {
  padding: 0;
  margin: 0;
}

nav ul li a:hover {
    color: #ab47bc;
    background-color: white;
}
nav ul li:hover {
   background-color: white;
}
nav .button-collapse i {
    color: #000;
}
nav, .btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 1000;
}
#sidenav-overlay {
    z-index: 1;
}
.brand-logo {
  color: black;
  text-transform: uppercase;
}
#search-bios {
  height: 15vh
}

